* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.box {
    background-color: aqua;
    width: 300px;
    height: 300px;
}